.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  
  table {
    
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse; /* Optional for styling */
  }

  /* .mat-dialog-container {
    border-radius: 100px !important;
  } */