<div class="p-4">
    <h3 class="text-center font-bold"> Hello Mr. Manager!</h3>
    <h2 class="text-center"> What's You Have For Today's Menu? </h2>
    <h4 class="text-center"> Today Is: {{date|date:"mediumDate"}} </h4>
  <hr />
<form>
    <!-- autocomplete="off" [formGroup]="" (ngSubmit)="save()" -->
    <div class="row form-group">
        <div class="form-control row-md-6">
        <label>Select A Recipe Form Dropdown List</label>
        <select class="form-control">
            <option value="0">Recipe Name</option>
        </select>
            

            
        </div>

        <!-- <div class="form-control row-md-6">
           <input class="form-control" type="date" name="date" id="date" ngModel="date" (ngModelChange)="change()" [(ngModel)]="date">
        </div> -->
         
    </div>
 </form>
</div>