<div>
  <h2 mat-dialog-title>Raw Item Form</h2>
<form [formGroup]="itemform" (ngSubmit)="save()">

    <mat-dialog-content>
    <mat-form-field>
      <mat-label>Item Name</mat-label>
      <input matInput type="text" placeholder="type here" formControlName="Name">
    </mat-form-field>
  </mat-dialog-content>

    <mat-dialog-actions>

      <button mat-button [disabled]="!itemform.valid">Save</button>
      <button mat-button [mat-dialog-close] cdkFocusInitial>Close</button>
    </mat-dialog-actions>
    
  </form>
</div>


<!-- <h4 class="display-4">Raw Items Form</h4>
<hr>
<form #form="ngForm" autocomplete="off">
    <div class="form-group">
        <label>Raw Material Item</label>
        <mat-form-field>
            <mat-label>Input</mat-label>
            <input matInput formControl="">
          </mat-form-field>
    </div>
    <button
    type="button"
    class="btn btn-danger btn-sm ms-2"
    (click)="closeModal()">
    Delete
  </button>
</form> -->
