<!-- it will be == false -->
@if (IsformMode==false) { 
    <div class="container">

        <table class="table text-center" id="table">
          <thead>
            <tr>
              <th>No.</th>
              <th>Receipe Name</th>
              <th>Receipe Items</th>
              <th>Action</th>
              <th>
                <button type="button" class="btn btn-primary" (click)="formMode()">
                  <i class="fa-solid fa-plus"></i> Add Item </button>
              </th>
            </tr>
          </thead>
          <tbody>
            @for(item of recipeList; track item.id; let index=$index ){
            <tr>
              <td>{{ index+1 }}</td>
              <td>{{ item.RecipeName }}</td>
              <!-- raw materials table -->
              <td>
                <table class="table table-borderless" id="itemTable">
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    @for (rawItems of item.rawitems;  track rawItems.Name; let i=$index) {
                    <tr>
                        <td> {{ rawItems.Name}} </td>
                        <td> {{rawItems.Quantity}}</td>
                        <td>{{rawItems.Unit}}</td>
                    </tr>
                    }    
                    </tbody>
                </table>
              </td>

              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="addOrEditItems(index,item.ItemId)"> <i class="fa-solid fa-pen-to-square"></i> Edit </button>
                <button type="button" class="btn btn-danger btn-sm ms-2" (click)="removeItems(index,item.RecipeId)"> <i class="fa-solid fa-trash"></i> Delete </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
}
@else {
<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center"><img src="/assets/img/logo.png"> Recipe With Raw Items</h3>
  <hr>

  <div class="container">
        <!-- Form Design Goes Here -->
  <form #form="ngForm" autocomplete="off" [formGroup]="formData" (ngSubmit)="save()"> 
    <div class="row form-group text-center">
    <div class="form-control col-md-6">

        <label for="RecipeName" >Recipe Name:</label>
        <input class="form-control" formControlName="RecipeName" placeholder="Enter Recipe Name">
       
      <!-- Raw Items Table -->
       <table class="table table-borderless">
        <thead class="">
          <tr>
          <th>Item No</th>
          <th>Item Name</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th><button type="button" class="btn btn-sm btn-success" (click)="addOrEditItems(null,null)">Add Item</button></th>
        </tr>
        </thead>
        <tbody>
          <tr *ngIf="service.RecipeItems.length==0">
            <td [colSpan]="4" class="text-center">No Elements</td>
          </tr>
          @for (item of service.RecipeItems; track $index) {
            <tr>
              <td>{{$index+1}}</td>
              <td>{{ returnitemName(item.ItemId)}}</td>
              <td>{{item.Quantity}}</td>
              <td>{{item.Unit}}</td>
              <td><button type="button" class="btn btn-danger btn-sm ms-2" (click)="removeItems($index,null)"><i class="fa-solid fa-trash"></i> Delete </button></td>
            </tr>
          }
          <!--
          <tr *ngIf="service.RecipeItems.length==0">
          <td class="font-italic text-center" colspan="5">
            No Raw Item Selected For This Recipe
          </td>
          </tr>
          @for (item of service.RecipeItems; track item.ItemId; let index=$index) {
          <tr>
            <td>{{$index+1}}</td>
            <td>{{returnitemName(item.ItemId)}}</td>
            <td>{{item.Quantity}}</td>
            <td>{{item.Unit}}</td>
            <td>
              <button type="button" (click)="removeItems(index, item.ItemId)"></button>
            </td>
          </tr>
          }
          -->
        </tbody>
       </table>

      <div>
      <button type="submit" class="btn btn-dark">Save</button>  
      <button type="button" class="btn btn-secondary ms-2" (click)="closeFormMode()" >
       Back </button>
      </div>

    </div>
    </div>
  </form>
  </div>
</div>
}
 
